* {
    text-align: center !important;
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.hint {
    color: var(--tg-theme-hint-color);
}

.link {
    color: var(--tg-theme-link-color);
}

hr {
    position: absolute;
    background-color: var(--tg-theme-hint-color);
    height: 1px;
    width: 100%;
    top: 200px;
}

svg {
    display: inline-block;
}

.menu {
    display: table;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 200px;
    transform: translate(-50%, 0);
}

.menu * {
    display: inline-block;
    margin: 10px;
}

.balance {
    font-size: 48px;
    display: block;
    margin-bottom: 30px;
}

.bottom-button {
    display: table-cell;
    font-size: 35px;
}

.balance-button {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-buttons {
    display: table-row;
}
