body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.button {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.hint {
    color: var(--tg-theme-hint-color);
}

.link {
    color: var(--tg-theme-link-color);
}

hr {
    background-color: var(--tg-theme-hint-color);
    width: 100%;
    height: 2px;
    border: none;
}

b {
    font-size: 48px;
    display: block;
}

svg {
    display: inline-block;
}

.menu {

}

.menu * {
    display: inline-block;
}
